
html {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-align: center;
}

#search-form {
  width:100%;
  text-align: center;
}

#query-input {
  margin: 0 auto;
  width:40%;
  height:30px;
  outline: none;
}

#search-button {
  display: inline-block;
  background-color: #9ee1ff;
  margin:0 auto;
  line-height:30px;
  border-radius: 5px;
  width:15%;
  max-width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
}

#reset-button {
  display: inline-block;
  background-color: #ffa99e;
  margin:0 auto;
  line-height:30px;
  border-radius: 5px;
  width:15%;
  max-width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
}

#results-container {
  position:absolute;
  top:120px;
  right:70%;
  border-right: 2px solid black;
  left:10px;
  bottom:5px;
  z-index:2;
  background-color: #c9c9c9;
  overflow-y: auto;
}

.results-container-transparent {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.results-container-opaque {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}

#results-list {
  width:100%;
  padding-left: 0px;
  margin-top: 0px;
}

.results-list-item {
  position: relative;
  list-style: none;
  width:100%;
  padding-left: 10px;
  padding-right:15px;
  word-wrap: normal;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.results-list-item:hover {
  background-color: #9ee1ff;
}

.checkbox {
  position: absolute;
  top:5px;
  right:5px;
  z-index:3;
  cursor: pointer;
}

.results-list-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0 5px 0;
}

.results-list-item p:nth-of-type(1) {
  font-size: 1.2em;
  font-weight:bold;
}

#googleMap {
  position:absolute;
  z-index:5;
  transition-property: left;
  transition-duration: 1s;
}

.map-expanded {
  top:120px;
  left:10px;
  right:10px;
  bottom:5px;
  z-index:5;
  transition-property: left;
  transition-duration: 1s;
}

.map-contracted {
  top:120px;
  left:30%;
  right:10px;
  bottom:5px;
  z-index:5;
  transition-property: left;
  transition-duration: 1s;
}
