

h1 {
  text-align: center;
}

#search-form {
  width:100%;
  text-align: center;
}

#query-input {
  margin: 0 auto;
  width:80%;
  height:30px;
  outline: none;
}

#search-button {
  display: inline-block;
  background-color: teal;
  margin:0 auto;
  line-height:30px;
  border-radius: 5px;
  width:15%;
  max-width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
}

#results-container {
  position:absolute;
  top:120px;
  right:70%;
  border-right: 2px solid black;
  left:10px;
  bottom:5px;
  z-index:2;
  background-color: grey;
  overflow-y: auto;
}

#results-list {
  width:100%;
  padding-left: 0px;
}

.results-list-item {
  height:50px;
  list-style: none;
  width:100%;
  padding-left: 10px;
  word-wrap: normal;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

#googleMap {
  position:absolute;
  top:120px;
  left:30%;
  right:10px;
  bottom:5px;
  z-index:1;
}
